<h1> Editar el parqueadero </h1>

<div class="container">
  <%= form_for(@parking) do |f| %>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :filas %><br>
    <%= f.number_field :rows %>
  </p>
  <p>
    <%= f.label :columnas %><br>
    <%= f.number_field :columns %>
  </p>  

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th> Nombre </th>
      <th> Posicion y: </th>
      <th> Posicion x: </th>
      <th> Estado: </th>
    </tr>
    <% @parking.slots.each do |slot| %>
    <tr>
      <td> <%= slot.name %> </td>
      <td> <%= slot.y_loc %> </td>
      <td> <%= slot.x_loc %> </td>
      <td> Libre </td>
    </tr>
    <% end %>
    
  </table>
  <p>
    <%= f.submit %>
  </p>
  <% end %>

</div>
